# Send daily reminders about open pull requests
name: "PR Review Queue"

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1-5'

jobs:
  weekly:
    name: Daily PR review queue
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/ochosi/pr-review-queue:latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Create PR Review Queue
        run: |
          python3 pr_review_queue.py --github-token "${{ secrets.GITHUB_TOKEN }}" --queue --org osbuild --slack-format
        shell: bash
        env:
          SLACK_NICKS_KEY: "${{ secrets.SLACK_NICKS_KEY }}"
          SLACK_WEBHOOK_URL: "${{ secrets.SLACK_WEBHOOK_URL }}"
